@media screen and (max-width: 450px) {
    .responsive-content-heading {
        font-size: 6vw;
        font-weight: bolder;
    }
  }

@media screen and (max-width: 300px) {
    .responsive-content-item {
        font-size: 14px;
    }
}

.img-responsive {
    height : '500px';
    object-fit: cover;
}
.noReviews {
    font : 400 2.5vh "Gill Sans"
}

.head {
    font : 400 bolder 3.5vh "Gill Sans"
}

.sold_product_detail_image {
    position : relative
  }

  .sold_product_detail_notify-badge{
    position: absolute;
    right:-5px;
    top:-10px;
    font-size: 20px;
    font-family: 'Gentium Book Plus', serif;
    z-index: 2;
  }